p {
    margin: 10px 0;
}

button {
    padding: 5px 30px;
}

h1, h2, h3 {
    text-align: center;
}

header {
    height: 12vh;
    background-color: #eee;
}

main {
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid black;
}

table caption {
    display: none;
}

table th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

table tr > td:last-child > span {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}

table tr > td:last-child > span.past {
    color: #999;
    text-decoration: line-through;
    cursor: default;
}

#login-info-area {
    display: none;
}

#login-area > p {
    padding-top: 1vh;
    text-align: center;
}

#running-time-list-by-movie {
    max-height: 20vh;
    overflow-y: scroll;
}

#reservation-seat-info thead td {
    font-size: 2em;
}

#reservation-seat-info-body td {
    width: auto
}

#reservation-seat-info-body td.already {
    background-color: #999999;
}